@use "../../base/colors";

.tr {
    &:nth-child(even) {
        background-color: rgba(1, 97, 95, .6);
    }

    &:nth-child(odd) {
        background-color: colors.$teal;
    }

    .td {
        color:white;
        font-family: var(--font-roboto);
        font-weight: 500;
        font-size: 24px;
        padding:10px;
        width: 25%;
        &.managePupils {
            display: flex;
            gap:10px;

            .option{
                display: flex;
                background-color: rgba(255,255,255, .5);
                padding:5px;
                border-radius: 5px;
                transition: all .3s;
                cursor: pointer;
                &:hover{
                    transform:scale(1.2)
                }
            }
        }
    }
}