@use "../../base/colors";

.manageGrade {
    display:flex;
    align-items: center;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    width:20px;
    height: 20px;
}

.NA {
    color:white;
    background-color: rgba(143, 25, 45, 1) ;

    &:hover {
        background-color: rgba(143, 25, 45, .8) ;
    }
}
.VA{
    color:white;
    background-color: rgba(250, 152, 58, 1);

    &:hover {
        background-color: rgba(250, 152, 58, .8);
    }
}
.A {
    color:white;
    background-color: rgba(5, 196, 107, 1);

    &:hover {
        background-color: rgba(5, 196, 107, .8);
    }
}

.img {
    filter: brightness(0) invert(1);
    width: 20px;
    height: 20px;
    margin-top: 3px;
}