@use "../base/colors";

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: colors.$teal;
    border-bottom: 2px solid rgba(1, 97, 95, .25);

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        color: white;

        .ul {
            display: flex;
            gap: 20px;

            .li {
                min-width: 100px;
                display: flex;
            }
        }

        .link {
            color: colors.$teal;
            text-decoration: none;
            transition: all .3s;
            font-weight: 400;
            padding: 5px;
            font-size: 20px;
            background-color: white;
            border: 1px solid transparent;
            border-radius: 5px;
            text-align: center;
            font-family: Oswald;
            text-transform: uppercase;
            font-weight: 500;
            box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.1);
            width: 100%;

            &:hover {
                background-color: rgba(255, 255, 255, 1);
                color: colors.$teal;
                transform: scale(1.05);

            }
        }
    }
}